{% extends "gcc_arm_common.tmpl" %}

{% block additional_variables %}
SOFTDEVICE = {{ softdevice }}
{% endblock %}

{% block additional_executables %}
SREC_CAT = srec_cat
{% endblock %}

{% block additional_targets %}
merge:
	$(SREC_CAT) $(SOFTDEVICE) -intel $(PROJECT).hex -intel -o combined.hex -intel --line-length=44
{% endblock %}
